<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <title>Sistema de Telemedida</title>

	    <!-- Mobile support -->
	    <meta name="viewport" content="width=device-width, initial-scale=1">
 
            <!-- Twitter Bootstrap -->
            <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

		 <!-- Material Design for Bootstrap --> 
	    <link href="/bower_components/bootstrap-material-design/dist/css/roboto.min.css" rel="stylesheet">
	    <link href="/bower_components/bootstrap-material-design/dist/css/material-fullpalette.min.css" rel="stylesheet">
	    <link href="/bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet"> 

		<link rel="icon" href="/images/radio-tower.png" type="image/x-icon">
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" type="text/css" media="only screen and (min-width:1300px) and (min-device-width:1300px)" href="/stylesheets/wide.css">
		<link rel="stylesheet" type="text/css"  href="/stylesheets/scrollbar/jquery.mCustomScrollbar.css">
	</head>

	<body ng-app="teleApp">
    	    <div id="page-wrap" ng-controller="mainController as mc">
                    <header class="main" ng-class="{'active':mc.url() && mc.tabsActive()}" id="header" ng-controller="navController as nav">
                        <a href="#" ng-class="{'active':mc.subMenuActive()}">
                            <i ng-click="mc.subMenu()" class="mdi-navigation-menu"></i>
                        </a>
                        <nav id="primary-nav" role="navigation">
                                <ul>
                                        <li class="inline"><a ng-class="{transparent1:mc.active(), visited:nav.visited(1)}" href="/" title="Pagina principal">Home</a></li>
                                        <li class="inline"><a ng-class="{transparent2:mc.active(), visited: nav.visited(2)}" href="/mapa/" title="mapa">Gestion de las Mediciones</a></li>
                                        <li class="inline"><a ng-class="{transparent3:mc.active(), visited:nav.visited(3)}" href="/zonas/" title="zonas">Zonas</a></li>
                                        <li class="inline"><a ng-class="{transparent4:mc.active(), visited:nav.visited(4)}" href="/abonados/registrar" title="abonados">Registrar</a></li>
                                        <div class="clear"></div>
                                </ul>
                        </nav>
                    </header>
                    <main>
			<%- body %>
		    </main>	
		    <footer>
		    </footer>
		</div>
	<!--scripts--> 
	   	
                <!--jquery necesary for boostrap must load first to angular-->
	        <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>

	        <!--angular-->
		<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>

                <!-- socket client -->
                <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

		<!--modulo-->
		<script type="text/javascript" src="/javascripts/app.js"></script>

		<!--controllers-->
		<script src="/javascripts/controllers/controllers.js" type="text/javascript" charset="utf-8" ></script>
		<script src="/javascripts/controllers/maincontroller.js" type="text/javascript" charset="utf-8" ></script>
		<script src="/javascripts/controllers/minicardscontroller.js" type="text/javascript" charset="utf-8" ></script>
		<script src="/javascripts/controllers/navcontroller.js" type="text/javascript" charset="utf-8" ></script>
		<script src="/javascripts/controllers/usercontroller.js" type="text/javascript" charset="utf-8" ></script>
		<script src="/javascripts/controllers/usercontroller2.js" type="text/javascript" charset="utf-8" ></script>


		<!--services-->
		<script src="/javascripts/services/services.js" type="text/javascript" charset="utf-8" ></script>
		<script src="/javascripts/services/zonas.js" type="text/javascript" charset="utf-8" ></script>
		<script src="/javascripts/services/resumen.js" type="text/javascript" charset="utf-8" ></script>
		<script src="/javascripts/services/abonados.js" type="text/javascript" charset="utf-8" ></script>

		<!--directives-->
		<script src="/javascripts/directives/directives.js" type="text/javascript" charset="utf-8" ></script>
		<script src="/javascripts/directives/radio.js" type="text/javascript" charset="utf-8" ></script>
		<script src="/javascripts/directives/centro.js" type="text/javascript" charset="utf-8" ></script>

                <!-- modulo para la Paginacion-->
                <script src="/bower_components/angularUtils-pagination/dirPagination.js"></script>

		<!-- Material Design for Bootstrap -->
	    <script src="/bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
	    <script src="/bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>

	    <script>
	    	$.material.init();
	    </script>
	</body>
</html>
