<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Sistema de Telemedida</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>

	<body>
		<div id="page-wrap">
			<header class="main" id="h1">
				<h1>Sistema de Telemedida orientada a la etapa de Distribucion</h1>
			</header>

			<nav class="main" id="primary-nav" role="navigation">
			</nav>

			<section class="main">
				<%- body %>
			</section>

			<footer class="main">
			</footer>
		</div>
	</body>
</html>