<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Sistema de Telemedida</title>

		<!-- Mobile support -->
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Twitter Bootstrap -->
		<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

		 <!-- Material Design for Bootstrap --> 
	    <link href="/bower_components/bootstrap-material-design/dist/css/roboto.min.css" rel="stylesheet">
	    <link href="/bower_components/bootstrap-material-design/dist/css/material-fullpalette.min.css" rel="stylesheet">
	    <link href="/bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">

		<link rel="icon" href="/images/radio-tower.png" type="image/x-icon">
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" type="text/css" media="only screen and (min-width:1300px) and (min-device-width:1080px)" href="/stylesheets/wide.css">
		<link rel="stylesheet" type="text/css"  href="/stylesheets/scrollbar/jquery.mCustomScrollbar.css">
	</head>

	<body ng-app="teleApp">
		<div id="page-wrap" ng-controller="mainController as mc">
			<header class="main" id="header" ng-controller="navController as nav">
				<img class="{{ nav.color }}" ng-class="{active: mc.active()}" ng-src="{{ nav.image }}">
				<form ng-class={hidden:nav.hidden} ng-submit="mc.buscar()" class="inline" accept-charset="utf-8">
					<input ng-class="{active:mc.active()}" ng-model="mc.query" id="buscar" type="search" value="" placeholder="buscar">
					<div class="clear"></div>
				</form>
				<nav id="primary-nav" role="navigation">
					<ul>
						<li class="inline"><a ng-class="{brcolor0:mc.active(), visited:nav.visited(1)}" href="/" title="Pagina principal">Pagina principal</a></li>
						<li class="inline"><a ng-class="{brcolor1:mc.active(), visited: nav.visited(2)}" href="/mapa/" title="mapa">mapa</a></li>
						<li class="inline"><a ng-class="{brcolor2:mc.active(), visited:nav.visited(3)}" href="/zonas/" title="zonas">zonas</a></li>
						<li class="inline"><a ng-class="{brcolor3:mc.active(), visited:nav.visited(4)}" href="/abonados/" title="abonados">abonados</a></li>
						<div class="clear"></div>
					</ul>
				</nav>
			</header>
			<main class="mCustomScrollbar" data-mcs-theme="light-thick">
				<%- body %>
			</main>	
			<footer class="main">
			</footer>
		</div>
	<!--scripts-->
		<!--google maps api-->
	   	<script src="http://maps.googleapis.com/maps/api/js"></script>

	   	<!--jquery necesary for boostrap must load first to angular-->
	    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>

	    <!--angular-->
		<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>

		<!--modulo-->
		<script type="text/javascript" src="/javascripts/app.js"></script>

		<!--controllers-->
		<script src="/javascripts/controllers/controllers.js" type="text/javascript" charset="utf-8" async defer></script>
		<script src="/javascripts/controllers/maincontroller.js" type="text/javascript" charset="utf-8" async defer></script>
		<script src="/javascripts/controllers/minicardscontroller.js" type="text/javascript" charset="utf-8" async defer></script>
		<script src="/javascripts/controllers/navcontroller.js" type="text/javascript" charset="utf-8" async defer></script>

		<!--services-->
		<script src="/javascripts/services/services.js" type="text/javascript" charset="utf-8" async defer></script>
		<script src="/javascripts/services/zonas.js" type="text/javascript" charset="utf-8" async defer></script>
		<script src="/javascripts/services/mediciones.js" type="text/javascript" charset="utf-8" async defer></script>
		<script src="/javascripts/services/resumen.js" type="text/javascript" charset="utf-8" async defer></script>
		<script src="/javascripts/services/abonados.js" type="text/javascript" charset="utf-8" async defer></script>

		<!--directives-->
		<script src="/javascripts/directives/directives.js" type="text/javascript" charset="utf-8" async defer></script>
		<script src="/javascripts/directives/radio.js" type="text/javascript" charset="utf-8" async defer></script>
		<script src="/javascripts/directives/centro.js" type="text/javascript" charset="utf-8" async defer></script>

		<!-- Material Design for Bootstrap -->
	    <script src="/bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
	    <script src="/bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
	    <script>
	    	$.material.init();
	    </script>

	     <!--customScrollbar-->
	    <script src="/javascripts/scrollbar/jquery.mCustomScrollbar.concat.min.js" type="text/javascript" charset="utf-8" async defer></script>
	</body>
</html>
