<div>
    <!--div ng-mouseover="mc.above(-10)">   
        <div class="separador {{ mc.color(0) }}"></div>
        <h5><span ng-class="{enfasis:mc.active(), info:mc.info(-10)}">{{ mc.iconName || "Nuevo Cliente" }}</span></h5>
    </div-->

    <div class="tarjeta1">
        <div id="adduser">
            <div class="titulo">
                <div><i class="icon mdi-social-person-add color-11" ></i><span>Ningun campo es opcional</span></div>
                <h3>Datos Personales</h3>
            </div>
            <div class="contenido-form">
                 <form name="enroll" class="form-horizontal" ng-submit="enroll.$valid && user.addUser()" novalidate>
                    <fieldset>
                        <legend></legend>
                        <div class="form-group">
                            <label class="col-xs-1 control-label">NIS</label>
                            <div class="col-xs-12">
                                <input class="form-control" placeholder="Identificador de suministro" ng-model="user.NIS" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-xs-1 control-label">Cliente</label>
                            <div class="col-xs-12">
                                <input class="form-control" placeholder="Nombres y apellidos completos" ng-model="user.Nombre" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-xs-1 control-label">Email</label>
                            <div class="col-xs-12">
                                <input class="form-control" placeholder="gmail, hotmail, otros..." ng-model="user.Email" type="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-xs-1 control-label">Direccion</label>
                            <div class="col-xs-12">
                                <textarea class="form-control" ng-model="user.Direccion" required></textarea>
                                <span class="help-block">Calle, nro de casa, barrio...</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-xs-1 control-label">Coordenadas</label>
                            <div class="col-xs-12">
                                <input home-point coord="latitud" class="form-control" placeholder="Latitud" ng-model="user.lat" type="text" required>
                            </div>
                            <div class="col-xs-12">
                                <input home-point coord="longitud" class="form-control" placeholder="Longitud" ng-model="user.lng" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-xs-1 control-label">C.I</label>
                            <div class="col-xs-12">
                                <input class="form-control" placeholder="Documento de Identidad" ng-model="user.CI" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-xs-1 control-label">RUC</label>
                            <div class="col-xs-12">
                                <input class="form-control" placeholder="Registro del contribuyente" ng-model="user.RUC" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-xs-1 control-label">Telefono</label>
                            <div class="col-xs-12">
                                <input class="form-control" placeholder="Linea baja o nro de celular" ng-model="user.Telefono" type="text" required>
                            </div>
                        </div>
                         <div class="form-group">
                            <label  class="col-xs-1 control-label">Equipo</label>
                            <div class="col-xs-12">
                                <input class="form-control" placeholder="Serial del dispositivo asociado" ng-model="user.Equipo" type="text" required>
                            </div>
                        </div> 
                    </fieldset>
                    <input ng-mouseover="mc.hoverSend(enroll.$valid)" ng-mouseleave="mc.defaultIconName()" class="PerfilButtom" type="submit" name="some_name" value="Enviar">
                </form>
            </div>
        </div>
    </div>
</div>

