*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: #FFFFFF !important;
}
header{
	height: 50px;
	padding-left: 10px;
	text-align: center;
	background-color: #6d4c41;
}

header#h1 h1{
	margin: 0px !important;
	color:white;
}