/* menu de navegacion primario*/
textarea.form-control{
	height: 34px;
}
/* formulario para guardar la zona */
div.enfasis{
	width: 80%;
}
/* menu secundario */
.secondary-nav ul li.inline icon{
	margin-right: 15px;
	right: 50px;
}

/* aside y main*/
main{
    width:100;
    position: absolute;
}
header#header{
   right:calc(50% - 550px);
   -webkit-trasition: all .3s;
   -moz-transition: all .3s;
   transition: all .3s;
}
header#header > a:first-child{
    position:fixed;
}
.submenu-wrap.active + aside + section,.submenu-wrap.active + aside + section.active{
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);

}
section{
    width: 1100px;
    right: calc(50% - 550px);
}

@media screen and (max-width:1435px){
    header#header.active{
       right:calc(50% - 645px); 
    }
    section.active{
        width: 965px;
        right: calc(50% - 645px);
    }
}

@media screen and (min-width:1435px) and (max-width: 1740px){
    header#header.active{
       right:calc(50% - 712px); 
    }
    section.active{
        width: 1100px;
        right: calc(50% - 712px);
    }
    #chart1, #chart2{
        width:calc(100% - 40px);
    }
}

